---
// Supports weights 100-900
import "@fontsource-variable/onest";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../layouts/Footer.astro";
import Base from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import TimelineContainer from "../components/TimelineContainer.astro";
import "animate.css";
import "../css/flaticons.css";
import "../css/form.css";
---

<Base titulo="Julio - Programador" icon="NewLogo.webp">
  <Navbar />
  <!-- FONDO -->
  <div
    class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
  >
  </div>
  <!-- CONTENIDO -->
  <div class="p-5 mt-36">
    <div class="m-auto">
      <h1 class="text-4xl text-center mb-6 animate__animated">
        <!-- opacity-0 fadeInDown -->
        Hola, mi nombre es <span class="font-bold">Julio</span>.
      </h1>
      <div class="text-center animate__animated opacity-0 fadeInUp">
        <a href="Profile.pdf" download>
          <span
            class="relative inline-block overflow-hidden rounded-full p-[1px]"
          >
            <span
              class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
            ></span>
            <div
              class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-gray-950 px-3 py-1 text-xs font-medium text-gray-50 backdrop-blur-3xl"
            >
              Disponible para trabajar (CV)
            </div>
          </span>
        </a>
      </div>
      <div class="animate__animated opacity-0 jackInTheBox">
        <img
          src="NewLogo.webp"
          alt="My Logo"
          class="rounded-full w-1/6 min-w-28 max-w-40 block mx-auto my-4"
        />
      </div>
      <div
        id="about"
        class="bg-white bg-opacity-10 backdrop-blur-md shadow-md rounded-lg mx-auto mt-4 p-4 w-full animate__animated opacity-0 fadeInUp max-w-4xl py-4"
      >
        <h2 class="font-bold">SOBRE MÍ:</h2>
        <p class="text-gray-400">
          Soy un estudiante / profesional que siempre busca dar lo mejor de sí
          mismo y nunca se rinde. Apasionado por la tecnología y el progreso de
          la humanidad, estoy dedicado a contribuir significativamente en estos
          campos. Actualmente explorando nuevas oportunidades para aplicar mis
          habilidades en un entorno dinámico y colaborativo.
        </p>
        <h2 class="font-bold mt-4">TÍTULO:</h2>
        <p class="text-gray-400">Ingeniero en Computación - UNAM</p>
      </div>
      <div class="my-4 text-center">
        <h2
          class="animate__animated opacity-0 fadeInUp text-xl mt-12 font-bold"
        >
          Mi stack de tecnología:
        </h2>
        <div class="flex justify-center animate__animated opacity-0 fadeInUp">
          <div class="tagcloud"></div>
        </div>
      </div>
      <div id="experience" class="my-4 text-center py-4">
        <h2
          class="animate__animated opacity-0 fadeInUp text-xl mt-12 font-bold"
        >
          Mi experiencia:
        </h2>
        <div class="timeline">
          <TimelineContainer
            orientation="left"
            title="CONAHCYT"
            date="2023 - 2024"
            img="logo-conahcyt.webp"
          >
            <p>
              Desarrollé software para automatizar la generación de reportes, el
              envío de correos electrónicos masivos personalizados y
              automáticos, la asignación de evaluadores basada en
              probabilidades, y diversas tareas de ofimática.
            </p>
          </TimelineContainer>
          <TimelineContainer
            orientation="right"
            title="UNIDAD DE PLANEACIÓN - UNAM"
            date="2023 - 2023"
            img="LOGO UNIDAD DE PLANEACION CIRCULO.webp"
          >
            <p>
              Realicé análisis estadístico de datos de gestión, creación y
              validación de bases de datos, actualización de la plataforma del
              Sistema de Análisis y Almacenamiento de Información (web), así
              como diseño y elaboración de formatos, promocionales, cédulas y
              videos.
            </p>
          </TimelineContainer>
        </div>
      </div>
      <div id="projects" class="my-4 text-center py-4">
        <h2
          class="animate__animated opacity-0 fadeInUp text-xl mt-12 font-bold"
        >
          Mis proyectos:
        </h2>
        <div class="flex justify-center flex-wrap my-8 max-w-7xl m-auto">
          <Card
            title="Economía"
            description="App móvil para gestionar tus finanzas."
            img="logoAppGastos.webp"
            icons={["icons8-dart-48.webp", "icons8-firebase-48.webp"]}
            link="https://github.com/ElGg01/econo_mia"
          />
          <Card
            title="Super Explorer"
            description="Programa de escritorio para organizar tus archivos."
            img="LogoSuperExplorer.webp"
            icons={["icons8-python-48.webp"]}
            link="https://github.com/ElGg01/SuperExplorer"
          />
          <Card
            title="Facebook Clone Android"
            description="Clon del inicio de sesión de Facebook"
            img="FacebookCloneLogo.webp"
            icons={["icons8-kotlin-48.webp"]}
            link="https://github.com/ElGg01/FacebookCloneAndroid"
          />
        </div>
      </div>
      <div
        id="contact"
        class="my-4 text-center py-4 animate__animated opacity-0 fadeInUp"
      >
        <h2
          class="animate__animated opacity-0 fadeInUp text-xl mt-12 font-bold mb-4"
        >
          Contáctame:
        </h2>
        <div class="flex justify-center flex-wrap-reverse gap-6 m-3">
          <div class="flex flex-col justify-center items-center">
            <div id="parent3D" class="h-64 relative">
              <canvas id="model3D"></canvas>
              <p class="text-sm absolute bottom-4 right-0 left-0 opacity-50">
                Modelo por: <strong
                  ><a
                    href="https://sketchfab.com/3d-models/catoon-coffe-e872b8ff61644e699492bd13140e5571"
                    >mister_monopoly</a
                  ></strong
                >
              </p>
            </div>
            <div>
              <p>
                Dóname: <strong
                  ><a
                    href="https://paypal.me/ElGgMX?country.x=MX&locale.x=es_XC"
                    >PayPal</a
                  ></strong
                >
              </p>
            </div>
          </div>
          <section>
            <form
              action="https://api.web3forms.com/submit"
              method="POST"
              class="flex flex-col"
            >
              <input
                type="hidden"
                name="access_key"
                value="57373691-35d2-4deb-b98a-b723155c9f50"
              />
              <div class="form-group">
                <label for="">Tu Nombre:</label>
                <input type="text" name="name" required />
              </div>
              <div class="form-group">
                <label for="">Tu Correo:</label>
                <input type="email" name="email" required />
              </div>
              <div class="form-group">
                <label for="">Mensaje:</label>
                <textarea name="message" maxlength="500" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Enviar" id="btn-send-email" />
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <Footer />
  <script src="../js/tagcloud.js"></script>
  <script src="../js/observer.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/models.js"></script>
</Base>

<style is:global>
  html {
    font-family: "Onest Variable", sans-serif;
  }
  body {
    color: white;
  }
</style>
