---
// Supports weights 100-900
import "@fontsource-variable/onest";
import Navbar from "../layouts/Navbar.astro";
import "../css/index.css";
import Base from "../layouts/BaseLayout.astro";
import "animate.css";
---

<Base titulo="Mi portafolio">
  <div
    class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <div class="container">
    <h1
      class="sm:text-xs lg:text-7xl font-medium animate__animated animate__fadeInDown"
      id="presentation"
    >
      Hola, mi nombre es <span class="font-extrabold">Julio</span>, y soy:
    </h1>
    <div class="text-wrapper sm:text-9xl">
      <p>Ingeniero.</p>
      <p>Editor.</p>
      <p>Programador.</p>
    </div>
    <div class="animate__animated animate__zoomIn animate__delay-3s">
      <img
        src="NewLogo.png"
        alt=""
        class="rounded-full my-40 mx-auto"
        width="250px"
      />
    </div>
    <div class="">
      <h2 class="text-center">Mis proyectos:</h2>
    </div>
  </div>
  <script src="../js/textAnimation.js"></script>
</Base>

<style is:global>
  html {
    font-family: "Onest Variable", sans-serif;
  }
  body {
    color: white;
  }
</style>
