---
export interface Props {
  titulo: string;
  icon: string;
}

const { titulo, icon } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A web portfolio to show my habilities" />
    <link rel="shortcut icon" href={icon} type="image/x-icon" />
    <title>{titulo}</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
