---
export interface Props {
  titulo: string;
}

const { titulo } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{titulo}</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
