<footer
  class="bg-black bg-opacity-30 backdrop-blur-md shadow-md py-24 animate__animated opacity-0 fadeInUp"
>
  <div class="flex justify-center items-center flex-col">
    <h4>Todos los derechos reservados 2024 ©</h4>
    <h5>
      Puedes encontrar mis insignias en: <a
        href="https://www.credly.com/users/julio-negrete-gutierrez"
        class="font-bold"
      >
        Credly</a
      >
    </h5>
  </div>
</footer>
