<nav class="flex justify-around w-3/5 m-auto p-4 mb-12">
  <img src="Jota.jpg" alt="IMG" class="rounded-full w-10 md:w-12 sm:visible" />
  <ul
    class="flex gap-x-2 sm:gap-x-4 items-center font-medium text-xs lg:text-lg cursor-pointer"
  >
    <li class="hover:font-bold border-b-2 border-blue-600 transition-all">
      INICIO
    </li>
    <li>EXPERIENCIA</li>
    <li>PROYECTOS</li>
    <li>CONTACTO</li>
  </ul>
</nav>
